body{
    background-color: #555;
    color: aliceblue;
}



a{
    font-size: 20px;
}
.text{
    display: flex;
}
.right {
    margin-left: auto;
    margin-right: 10px;
}

 a:link{
    color: #F5A9B8;
}
a:visited {
    color: #5BCEFA;
}

a:hover {
    color: #D60270;
}

a:active {
    color: #0038A8 ;
                }


